/*
        LANDING PAGE 
*/


.landingPageComponent{
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background-size: cover;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    color: #eeeeee;
    width: 100vw;
}

.logoArea{
    margin-top: 10px;
    margin-left: 20px;
    color: #eeeeee;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoArea h1{
    font-size: x-large;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.logoArea .logoBankStyle{

    margin-top: 0px;
    padding-top: 0px;
    color: #eeeeee;
    
}



.navBarBackground{
    width: 98.8%;
    max-width: 98.8%;
    display: inline-flex;
    background: rgba(255, 255, 255, 0.082);
    border-radius: 10px;
    margin: 8px 8px;
    margin-bottom: 0px;
    color: #eeeeee;
    
}

.navBarLandingPage{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.buttonLadingPage{
    margin-right: 10px;
    display: inline-flex;
    color: #eeeeee;  
}

.buttonLadingPage button{
    background-color: rgba(128, 128, 128, 0.274);
    padding: 8px;
    margin: 8px;
    border-radius: 10px;
    font-weight: 600;
}

.principalArea{
    display: inline-flex;
    width: 100%;
    height: 90%;
    color: #eeeeee;
}

.principalArea h1{
    line-height: 95%;
    color: #eeeeee;
}

.textPrincipalArea{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    align-items: left;
    color: #eeeeee;
    
}

.glassOfTextArea{
    background-color: #ffffff41;
    height: 60%;
    display: flex;
    padding-left: 10px;
    justify-items: center;
    align-items: center;
    border-radius: 20px;
    padding-top: 80px;
    width: 90%;
    backdrop-filter: blur(10px);
}

.glassOfTextAreaComplement{
    display: flex-row;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100%;
    

}

.gifArea{
    width: 30%;
    height: 50%;
    margin-top: 100px;
    margin-left: 0px;
}

.gifArea img{
    width: 100%;

}

.mainSentence{
    font-weight: 700;
    font-size: 7rem;
    margin-top: 0px;
    padding-top: 0px;
    color: #eeeeee;
}

.submainSentence{
    font-weight: 400;
    font-size: 5rem;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #eeeeee;
}


.subtitle{
    margin-left: 10px;
    font-weight: 300;
    font-size: 2rem;
    color: #eeeeee;
}

.infoAboutConsortium{
    position: absolute;
    bottom: 20px;
    font-size: 1.1rem;
    font-weight: 400;
    color: #eeeeee;
}

.backgroundGoPage{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(130deg, rgba(19, 0, 16, 0.685) 9%, rgba(36,52,82,1) 45%, rgba(19, 0, 16, 0.685) 84%);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    background-attachment:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}